@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary-color: #3498db;
  }
  
  body {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Ubuntu", sans-serif;

  }
  
  button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid #cacaca;
  }
  